<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address or Phone number</label>
    <input type="email" style="width: 500px;" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>

  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form><br><br>
<label for="range1" class="form-label">RATE OUR SITE</label>
<input type="range" class="form-range" id="range1">
<div class="form-floating mb-3">
  <input type="email" style="width: 500px;" class="form-control" id="floatingInputDisabled" placeholder="name@example.com">
  <label for="floatingInputDisabled">Email address</label>
</div>
<div class="form-floating mb-3">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextareaDisabled"></textarea>
  <label for="floatingTextareaDisabled">About you</label>
</div>
<div class="form-floating mb-3">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2Disabled" style="height: 100px"> type your valid commands here </textarea>
  <label for="floatingTextarea2Disabled">Comments</label>
</div>
